@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&family=Single+Day&family=Workbench&display=swap');
body{
    text-align:center;
}
.head{
    color:cornflowerblue;
    font-family: 'Single Day', cursive;
    font-size:50px;
    font-style:oblique;
    text-decoration:overline;
    letter-spacing:30px;
}
.para{
    color:coral;
    font-family: 'Single Day', cursive;
    font-style:italic;
    text-decoration:underline;
    font-size:90px;
    word-spacing:30px;
}